{% extends 'layout.html' %}
{% load static %}
{% block content %}
  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
    {% include 'header_menu.html' %}

    <!-- Main -->
    <div id="main">
      <!-- About us -->
      <div class="post">
        <h2>About us</h2>
        <hr>
        <p>
          Welcome to Tales of Morocco, your ultimate destination for immersing yourself in the allure of Morocco's captivating landscapes, diverse culture, and vibrant communities. 
          Our platform is crafted exclusively for adventurers and enthusiasts eager to delve into the essence of this enchanting country.
          At Tales of Morocco, we invite you to embark on a journey where you can share your travel escapades, culinary discoveries, and accommodation experiences amidst breathtaking picturesque views. 
        <p>Our community serves as a hub for like-minded individuals to exchange invaluable insights and recommendations, igniting the spark for your next Moroccan odyssey.
        <p>Join us in unraveling the tapestry of Morocco's wonders, as we celebrate the spirit of exploration and discovery together. Welcome to your gateway to the magic of Morocco – welcome to <b>Tales of Morocco</b>.</p>
        </p>
     
      </div>

    </div>

    <!-- Sidebar -->
    <section id="sidebar">

      <!-- Intro -->
      <section id="intro">
        <a href="#" class="logo"><img src="{% static 'images/logo.jpg' %}" alt="" /></a>
        <header>
          <h2>Tales Of Morocco</h2>
          <p>Discover Morocco, Share Your Story, Inspire Adventure.</a></p>
        </header>
      </section>

      <!-- Footer -->
      <section id="footer">
        <ul class="icons">
          <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
          <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
          <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
          <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
          <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        </ul>
        <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
      </section>

    </section>

  </div>

{% endblock %}
