<div class="activity">
    <h1>Recent Activities</h1>
    {% for activity in activities %}
    {% if activity.class_name == 'Like' %}
    <p><a href="{% url 'profile' activity.user.id %}">@{{ activity.user.username }}
    </a> Liked <a href="{% url 'blog' activity.blogPost.id %}">"{{ activity.blogPost.title }}"</a>
     by <a href="{% url 'profile' activity.blogPost.author.id %}">
        @{{ activity.blogPost.author.username }}</a> <small>{{ activity.created | timesince }} ago</small></p>
    <hr>
    {% elif activity.class_name == 'Comment' %}
    <p><a href="{% url 'profile' activity.user.id %}">@{{ activity.user.username }}
    </a> Commented On <a href="{% url 'blog' activity.blogPost.id %}">"{{ activity.blogPost.title }}"</a>
     by <a href="{% url 'profile' activity.blogPost.author.id %}">
        @{{ activity.blogPost.author.username }}</a> <small>{{ activity.created | timesince }} ago</small></p>
    <hr>
    {% else %}
    <p><a href="{% url 'profile' activity.author.id %}">@{{ activity.author.username }}
    </a> Posted A New Blog <a href="{% url 'blog' activity.id %}">"{{ activity.title }}"</a>
    <small>{{ activity.created | timesince }} ago</small></p>
    <hr>
    {% endif %}
    {% endfor %}
</div>
