{% extends 'layout.html' %}
{% load static %}
{% block content %}
<input type="hidden" id="csrf-token" value="{{ csrf_token }}">
<div class="blog-post">
    <h3>@{{ post.author.username }}</h3>
    <small>{{ post.created | timesince }} ago</small>
    {% if request.user == post.author %}
        <a href="{% url 'update-blog' post.id %}">update</a>
        <a href="{% url 'delete-blog' post.id %}">delete</a>
    {% endif %}
    <h3>{{ post.title }}</h3>
    <p>City: {{ post.city }}</p>
    <p>Location: {{ post.specific_location }}</p>
    <p>{{ post.description }}</p>
      <!-- like button -->
      <i class="fa fa-heart {% if post.user_liked %}liked{% endif %}" data-post-id="{{ post.id }}"></i>
      <b><span id="like-{{ post.id }}">{{ post.likes }} Likes</span> - {{ post.comments.count }} Comments</b>
    <hr>
    <!-- Comment section -->
    <h3>Comments</h3>
    {% for comment in post_comments %}
        <h4>@{{ comment.user.username }}</h4>
        {% if comment.edited %}
            <small>{{ comment.created | timesince }} ago - Edited</small>
        {% else %}
            <small>{{ comment.created | timesince }} ago</small>
        {% endif %}
        {% if request.user == comment.user %}
            <a href="{% url 'update-comment' comment.id %}">update</a>
            <a href="{% url 'delete-comment' comment.id %}">delete</a>
        {% endif %}
        <p>{{ comment.body }}</p>
        <hr>
    {% endfor %}
    <!-- Comment Field -->
    <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="body">
    </form>
</div>
<script src="{% static 'scripts/like_post.js' %}"></script>
{% endblock %}