<!DOCTYPE HTML>
{% load static %}
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="icon" type="images/png" href="{% static 'images/logo.png' %}">
  <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/main_1.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  {% if title %}
    <title>{{ title }} | Tales Of Morocco</title>
  {% else %}
    <title>Tales Of Morocco</title>
  {% endif %}
</head>
  <body class="single is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
      <!-- Header & Menu -->
      {% include 'header_menu.html' %}

      <!-- Main -->
      <div id="main">
        {% if messages %}
        {% for message in messages %}
          <div class="alert {{ message.tags }}" role="alert">
            {{ message }}
          </div>
        {% endfor %}
        {% endif %}
        <!-- Post -->
        <input type="hidden" id="csrf-token" value="{{ csrf_token }}" />
        <article class="post">
          <header>
            <div class="title">
              <h2><a href="{% url 'blog' post.id %}">{{ post.title }}</a></h2>
              <p><a href="{% url 'city-blogs' post.city.id %}">{{ post.city }}</a>
                | {{ post.specific_location }}
              </p>
              {% if request.user == post.author %}
              <p class="update-delete">
                <a href="{% url 'update-blog' post.id %}" class="no-underline">
                  <span class="material-symbols-outlined">
                  edit
                  </span>
                </a>
                <a href="{% url 'delete-blog' post.id %}" class="no-underline">
                  <span class="material-symbols-outlined">
                  delete
                  </span>
                </a>
              </p>
              {% endif %}
            </div>
            <div class="meta">
              <time class="published" datetime="2015-11-01">{{ post.created | date }}</time>
              <a href="{% url 'profile' post.author.id %}" class="author">
                <span class="name">{{ post.author.username }}</span>
                <img src="{{ post.author.avatar.url }}" alt=""/></a>
            </div>
          </header>
          <!-- Post Picture -->
          {% if post.picture %}
          <span class="image featured"><img src="{{ post.picture.url }}" alt=""/></span>
          {% else %}
          <span class="image featured"><img src="{% static 'images/pic01.jpg' %}" alt=""/></span>
          {% endif %}
          <!-- post description -->
          <p>{{ post.description }}</p>
          <!-- post food and rating -->
          {% if post.food %}
          <p>
            <b>Food Dishes and Delights:</b> {{ post.food }} ({{ post.food_rating }}/5)<br>
          {% endif %}
          <!-- post accommodation and rating -->
          {% if post.accommodation %}
            <b>Accommodation Experience:</b> {{ post.accommodation }} ({{ post.accommodation_rating}}/5)
          {% endif %}
          </p>
          <footer>
            <ul class="stats">
              <!-- Like Icon -->
              <li>
                <i class="icon solid fa-heart {% if post.user_liked %}liked{% endif %}"
                data-post-id="{{ post.id }}"></i><span id="like-{{ post.id }}">{{ post.likes }}</span>
              </li>
              <!-- Comment Icon -->
              <li>
                <a href="#" class="icon solid fa-comment">{{ post_comments.count }}</a>
              </li>
            </ul>
          </footer>
          
          <span>
            <!-- Comments -->
            {% for comment in post_comments %}
            <div class="user-comment">
              <div class="profile-comment">
                <div>
                  <h4>
                    <a href="{% url 'profile' comment.user.id %}">
                      <img class="avatar-mini" src="{{ comment.user.avatar.url }}" alt="" />
                    </a>
                  </h4>
                </div>
                <div class="user-username">
                  <h4>
                    <a href="{% url 'profile' comment.user.id %}">{{ comment.user.username }}</a>
                  </h4>
                </div>
              </div>
              <div class="up-del-comment">
                <div>
                  <small style="font-size: 15px;">
                    {{ comment.created | timesince }} ago
                    {% if comment.edited %} - Edited{% endif %}
                  </small>
                </div>
                {% if request.user == comment.user %}
                <div>
                  <a href="{% url 'update-comment' comment.id %}" class="comment-a">
                    <span class="material-symbols-outlined small">
                      edit
                    </span>
                  </a>
                  <a href="{% url 'delete-comment' comment.id %}">
                    <span class="material-symbols-outlined small" class="comment-a">
                      delete
                    </span>
                  </a>
                </div>
                {% endif %}
              </div>
            </div>
            <p>{{ comment.body }}</p>
            <hr />
            {% endfor %}
            <!-- Comment Field -->
            {% if request.user.is_authenticated %}
            <form method="POST" action="">
              {% csrf_token %}
              <div class="comment-field">
                <div>
                  <input type="text" name="body" placeholder="Write Comment" />
                </div>
                <div>
                  <button type="submit">
                    <span class="material-symbols-outlined arrow">
                    send
                    </span>
                  </button>
                </div>
              </div>
            </form>
            {% endif %}
          </span>
        </article>
      </div>
      <!-- Footer -->
      <section id="footer">
        <ul class="icons">
          <li>
            <a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
          </li>
          <li>
            <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
          </li>
          <li>
            <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
          </li>

          <li>
            <a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a>
          </li>
        </ul>
        <p class="copyright">
          &copy; Tales Of Morocco.
          Base Design <a href="https://html5up.net">HTML5 UP</a>.
          Images: <a href="https://www.freepik.com">Freepik</a> | <a href="https://www.pexels.com">Pexels</a> | <a href="https://unsplash.com">Unsplash</a>
        </p>
      </section>
    </div>

    <!-- Scripts -->
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/browser.min.js' %}"></script>
    <script src="{% static 'scripts/breakpoints.min.js' %}"></script>
    <script src="{% static 'scripts/util.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
    <script src="{% static 'scripts/like_post.js' %}"></script>
  </body>
</html>
