{% extends 'layout.html' %}
{% load static %}
{% block content %}
  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Header -->
    {% include 'header_menu.html' %}

    <!-- Main -->
    <div id="main">
      <!-- About us -->
      <div class="post">
        <h2>Contact us</h2>
        <hr>
        <div class="mini-posts">

          <div class="contacts">

              <div class="contact-info">
                <div><img src="{% static 'images/adil.jpg' %}" alt=""/></div>
                <div><h3>Adil El Bali</h3></div>
                <div>
                  <ul class="icons">
                  <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                  <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                  <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                  <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                </div>
              </div>

              <div class="contact-info">
                <div><img src="{% static 'images/safuan.jpg' %}" alt=""/></div>
                <div><h3>Safouan El Mail</h3></div>
                <div>
                  <ul class="icons">
                  <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                  <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                  <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                  <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
                </ul>
                </div>
              
              </div>
          
          </div>
          <hr>
          <p>
            We are delighted to connect with you! As students of the ALX software engineering program,
            specializing in backend development. This project marks the culmination of our 3-month backend specialization.
            Our aspiration is to continue creating impactful projects, while constantly learning and pushing the boundaries
            of our skills to develop more advanced projects in the future.
            Thank you for reaching out and being part of our journey!
          </p>

        </div>
        
      </div>

    </div>

    <!-- Sidebar -->
    <section id="sidebar">

      <!-- Intro -->
      <section id="intro">
          <img class="new_logo" src="{% static 'images/logo.png' %}" alt="" />
        <header>
          <h2>Tales Of Morocco</h2>
          <p>Discover Morocco, Share Your Story, Inspire Adventure.</a></p>
        </header>
      </section>

      <!-- About -->
      <section class="blurb">
        <h2>About</h2>
        <p>Welcome to Tales of Morocco, your ultimate destination for immersing yourself in the allure of Morocco's captivating landscapes, diverse culture, and vibrant communities.</p>
        <ul class="actions">
          <li><a href="{% url 'about' %}" class="button">Learn More</a></li>
        </ul>
      </section>
      <!-- Footer -->
      <section id="footer">
        <ul class="icons">
          <li>
            <a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
          </li>
          <li>
            <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
          </li>
          <li>
            <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
          </li>
          <li>
            <a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a>
          </li>
        </ul>
        <p class="copyright">
          &copy; Tales Of Morocco.
          Images: <a href="https://www.freepik.com">Freepik</a> | <a href="https://www.pexels.com">Pexels</a> | <a href="https://unsplash.com">Unsplash</a>
        </p>
      </section>

    </section>

  </div>

{% endblock %}
