{% extends 'layout.html' %}
{% block content %}
<div id="wrapper">
  <!-- Header -->
  {% include 'header_menu.html' %}

  <!-- Delete Form -->
  <div id="main">
    <div class="form-container">
      <div class="delete-form">
        <form method="POST" action="">
          {% csrf_token %}
          {% if obj_type.class_name == 'Comment' %}
          <p>Are you sure you want to delete your comment <b>"{{ obj }}"</b>?</p>
          {% else %}
          <p>Are you sure you want to delete your blog post <b>"{{ obj }}"</b>?</p>
          {% endif %}
          <ul class="actions">
            <li>
              <button class="button large fit" type="submit">Confirm</button>
            </li>
            <li>
              <a href="{{ request.META.HTTP_REFERER }}" class="button large fit red">Cancel</a>
            </li>
          </ul> 
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
