{% load static %}
<section id="sidebar">

<!-- Intro -->
  <section id="intro">
    <a href="#" class="logo"><img src="images/logo.jpg" alt="" /></a>
    <header>
      <h2>Tales Of Morocco</h2>
      <p>Discover Morocco, Share Your Story, Inspire Adventure.</a></p>
    </header>
  </section>

<!-- Mini Posts -->
  <section>
    <div class="mini-posts">
      <header>
        <h2>Explore By</h2>
      </header>
      <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a href="{% url 'community-fav' %}">Community Favorites</a></h3>
          </header>
          <a href="{% url 'community-fav' %}" class="image"><img src="{% static 'images/fav.jpg' %}" alt="" /></a>
        </article>

      <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a href="{% url 'cuisine-delights' %}">Cuisine Delights</a></h3>
          </header>
          <a href="{% url 'cuisine-delights' %}" class="image"><img src="{% static 'images/cuisine.jpg' %}" alt="" /></a>
        </article>

      <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a href="{% url 'accommodation-escapes' %}">Accommodation Escapes</a></h3>
          </header>
          <a href="{% url 'accommodation-escapes' %}" class="image"><img src="{% static 'images/acc.jpg' %}" alt="" /></a>
        </article>
    </div>
  </section>

<!-- Posts List -->

<!-- About -->


<!-- Footer -->

</section>