{% load static %}
<section id="sidebar">

<!-- Intro -->
  <section id="intro">
    <a href="{% url 'home' %}" class="logo"><img src="{% static 'images/logo.jpg' %}" alt="" /></a>
    <header>
      <h2>Tales Of Morocco</h2>
      <p>Discover Morocco, Share Your Story, Inspire Adventure.</a></p>
    </header>
  </section>

<!-- Mini Posts -->
  <section>
    <div class="mini-posts">
      <header>
        <h2>Explore By</h2>
      </header>
      <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a href="{% url 'community-fav' %}">Community Favorites</a></h3>
          </header>
          <a href="{% url 'community-fav' %}" class="image"><img src="{% static 'images/fav.jpg' %}" alt="" /></a>
        </article>

      <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a href="{% url 'cuisine-delights' %}">Cuisine Delights</a></h3>
          </header>
          <a href="{% url 'cuisine-delights' %}" class="image"><img src="{% static 'images/cuisine.jpg' %}" alt="" /></a>
        </article>

      <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a href="{% url 'accommodation-escapes' %}">Accommodation Escapes</a></h3>
          </header>
          <a href="{% url 'accommodation-escapes' %}" class="image"><img src="{% static 'images/acc.jpg' %}" alt="" /></a>
        </article>
    </div>
  </section>

  <!-- About -->
  <section class="blurb">
    <h2>About</h2>
    <p>Mauris neque quam, fermentum ut nisl vitae, convallis maximus nisl. Sed mattis nunc id lorem euismod amet placerat. Vivamus porttitor magna enim, ac accumsan tortor cursus at phasellus sed ultricies.</p>
    <ul class="actions">
      <li><a href="{% url 'about' %}" class="button">Learn More</a></li>
    </ul>
  </section>

  <!-- Footer -->
  <section id="footer">
    <ul class="icons">
      <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
      <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
      <li><a href="#" class="icon solid fa-rss"><span class="label">RSS</span></a></li>
      <li><a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
    </ul>
    <p class="copyright">&copy; Untitled. Design: <a href="http://html5up.net">HTML5 UP</a>. Images: <a href="http://unsplash.com">Unsplash</a>.</p>
  </section>

</section>