{% load static %}
<section id="sidebar">

<!-- Intro -->
  <section id="intro">
      <img class="new_logo" src="{% static 'images/logo.png' %}" alt="" />
    <header>
      <h2>Tales Of Morocco</h2>
      <p>Discover Morocco, Share Your Story, Inspire Adventure.</a></p>
    </header>
  </section>

<!-- Mini Posts -->
  <section>
    <div class="mini-posts">
      <header>
        <h2>Explore By</h2>
      </header>
      <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a href="{% url 'community-fav' %}">Community Favorites</a></h3>
          </header>
          <a href="{% url 'community-fav' %}" class="image"><img src="{% static 'images/fav-1.jpg' %}" alt="" /></a>
        </article>

      <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a href="{% url 'cuisine-delights' %}">Cuisine Delights</a></h3>
          </header>
          <a href="{% url 'cuisine-delights' %}" class="image"><img src="{% static 'images/couscous.jpg' %}" alt="" /></a>
        </article>

      <!-- Mini Post -->
        <article class="mini-post">
          <header>
            <h3><a href="{% url 'accommodation-escapes' %}">Accommodation Escapes</a></h3>
          </header>
          <a href="{% url 'accommodation-escapes' %}" class="image"><img src="{% static 'images/accommodation-1.jpg' %}" alt="" /></a>
        </article>
    </div>
  </section>

  <!-- About -->
  <section class="blurb">
    <h2>About</h2>
    <p>Welcome to Tales of Morocco, your ultimate destination for immersing yourself in the allure of Morocco's captivating landscapes, diverse culture, and vibrant communities.</p>
    <ul class="actions">
      <li><a href="{% url 'about' %}" class="button">Learn More</a></li>
    </ul>
  </section>

  <!-- Footer -->
  <section id="footer">
    <ul class="icons">
      <li>
        <a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a>
      </li>
      <li>
        <a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a>
      </li>
      <li>
        <a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a>
      </li>
      <li>
        <a href="#" class="icon solid fa-envelope"><span class="label">Email</span></a>
      </li>
    </ul>
    <p class="copyright">
      &copy; Tales Of Morocco.
      Images: <a href="https://www.freepik.com">Freepik</a> | <a href="https://www.pexels.com">Pexels</a> | <a href="https://unsplash.com">Unsplash</a>
    </p>
  </section>

</section>