{% extends 'layout.html' %}
{% load static %}
{% block content %}
<input type="hidden" id="csrf-token" value="{{ csrf_token }}">
<h1>Recent Blogs</h1>
{% for post in posts %}
    <div class="blog-post">
        <h3>@{{ post.author.username }}</h3>
        <small>{{ post.created | timesince }} ago</small>
        <h3><a href="{% url 'blog' post.id %}">{{ post.title }}</a></h3>
        <p>City: {{ post.city }}</p>
        <p>Location: {{ post.specific_location }}</p>
        <p>{{ post.description }}</p>
        <!-- like button -->
        <i class="fa fa-heart {% if post.user_liked %}liked{% endif %}" data-post-id="{{ post.id }}"></i>
        <b><span id="like-{{ post.id }}">{{ post.likes }} Likes</span> - {{ post.comments.count }} Comments</b>
        <hr>
    </div>
{% endfor %}
<script src="{% static 'scripts/like_post.js' %}"></script>
{% endblock %}
