{% load static %}
{% block content %}
<!-- Main -->
<div id="main">

    <!-- Post -->
    {% for post in posts %}
    <article class="post">
      <header>
          <div class="title">
              <h2><a href="{% url 'blog' post.id %}">{{ post.title }}</a></h2>
                <p><a href="{% url 'city-blogs' post.city.id %}">{{ post.city }}</a> | {{ post.specific_location }}</p>
          </div>
          <div class="meta">
              <time class="published" datetime="2015-11-01">{{ post.created }}</time>
              <a href="{% url 'profile' post.author.id %}" class="author"><span class="name">{{ post.author.username}}</span><img src="{% static 'images/avatar.jpg' %}" alt="" /></a>
          </div>
      </header>
      <a href="single.html" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
      <p>{{ post.description }}</p>
      <footer>
          <ul class="actions">
          <li><a href="{% url 'blog' post.id %}" class="button large">Continue Reading</a></li>
          </ul>
          <ul class="stats">
            <li><a href="#">General</a></li>
            <li><a href="#" class="icon solid fa-heart">{{ post.likes }}</a></li>
            <li><a href="#" class="icon solid fa-comment">{{ post.comments.count }}</a></li>
          </ul>
      </footer>
    </article>
    {% endfor %}

    <!-- Pagination -->
    <ul class="actions pagination">
        <li><a href="" class="disabled button large previous">Previous Page</a></li>
        <li><a href="#" class="button large next">Next Page</a></li>
    </ul>

</div>

{% endblock content %}