<!DOCTYPE HTML>
{% load static %}
<html>
<head>
  {% if title %}
    <title>{{ title }} | Tales Of Morocco</title>
  {% else %}
    <title>Tales Of Morocco</title>
  {% endif %}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
  <link rel="stylesheet" href="{% static 'styles/pics.css' %}" />
</head>
<body class="is-preload">

    <!-- content -->
    {% block content %}
    {% endblock %}

    <!-- scripts -->
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/browser.min.js' %}"></script>
    <script src="{% static 'scripts/breakpoints.min.js' %}"></script>
    <script src="{% static 'scripts/util.js' %}"></script>
    <script src="{% static 'scripts/main.js' %}"></script>
</body>
</html>
