{% extends 'layout.html' %}
{% block content %}
<!-- Wrapper -->
<div id="wrapper">

  <!-- Header -->
  {% include 'header_menu.html' %}

  <!-- login Form  -->
  <div id="main">
    <div class="form-container">
      {% if messages %}
      {% for message in messages %}
        <div class="alert {{ message.tags }}" role="alert">
          {{ message }}
        </div>
      {% endfor %}
      {% endif %}
      <div class="user-form">
        <div class="title">
          <header>
          <h2>Login</h2>
          </header>
          <form method="POST" action="">
            {% csrf_token %}
            <div>
                <div>
                  <label>Email</label>
                  <div class="input-errors">
                    <input type="text" name="email">
                  </div>
                </div>
                <div>
                  <label>Password</label>
                  <div class="input-errors">
                    <input type="password" name="password">
                  </div>
                </div>
                <button class="button large fit" type="submit">Login</button>
            </div>
            <span class="form-redirect">Don't have An Account? <a href="{% url 'register' %}">Sign Up</a></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}