{% extends 'layout.html' %}
{% load static %}
{% block content %}
  <h1><a href="{% url 'profile' user.id %}">@{{ user.username }}</a></h1>
  {% if user.bio %}
  <h5>{{ user.bio }}</h5>
  {% endif %}
  {% if request.user == user %}
  <h3><a href="{% url 'update-profile' user.id %}">Edit profile</a></h3>
  {% endif %}
  <div>
    {% for post in posts %}
    <div>
      <small>{{ post.created | timesince }} ago</small>
        <h3><a href="{% url 'blog' post.id %}">{{ post.title }}</a></h3>
        <p>City: {{ post.city }}</p>
        <p>Location: {{ post.specific_location }}</p>
        <p>{{ post.description }}</p>
        <!-- like button -->
        <i class="fa fa-heart {% if post.user_liked %}liked{% endif %}" data-post-id="{{ post.id }}"></i>
        <b><span id="like-{{ post.id }}">{% if post.likes > 0 %}{{ post.likes }}{% endif %}</span>
        <!-- comment button -->
        <a class="comment-link" href="{% url 'blog' post.id %}"><i class="fa fa-comments-o"></i>
        <span>   {% if post.comments.count > 0 %}{{ post.comments.count }}{% endif %}</span></b></a>
        <hr>
    </div>
    {% endfor %}
  </div>
<script src="{% static 'scripts/like_post.js' %}"></script>
{% endblock content %}
