{% extends 'layout.html' %}
{% block content %}
<h1>Login</h1>
<form method="POST" action="">
    {% csrf_token %}
    <div>
        <div>
            <label>Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label>Password</label>
            <input type="password" name="password">
        </div>
        <button type="submit">Login</button>
    </div>
</form>
<br>
<div>
    Don't have An Account? <a href="{% url 'register' %}">Sign Up</a>
</div>
{% endblock %}