.checked {
    color: orange;
}

i.fa.fa-heart.liked {
    color: red;
}

.my-btn {
    padding: 0;
    background-color: inherit !important;
    border: 0 !important;
}

.food-stars {
    cursor: pointer;
}

.accommodation-stars {
    cursor: pointer;
}

i.fa.fa-heart {
    color: #C6BEBC;
    cursor: pointer;
}