@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");

/* menu */
.avatar-mini {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

/* Contact us */
.contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-info img {
  width: 10em;
  height: 10em;
  border-radius: 50%;
}

/* activity feed */
#activity-feed {
  margin-left: 3em;
  min-width: 15.08em;
  width: 15.08em;
}

.activity-content {
  font-size: 10px;
  margin-bottom: 15px;
  padding: 0px 2px;
  font-family: "Raleway", Helvetica, sans-serif;
}

/* user activities */
#user-activities {
  min-width: 40em;
  width: 40em;
}

/* Pagination */
#page-form {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 13px;
  margin-left: 290px;
}

.page-input {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 15px;
  padding-left: 10px;
  width: 40px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px rgb(206, 205, 205) solid;
}

/* Rating Stars */
.checked {
  color: orange;
}

.food-stars,
.accommodation-stars {
  cursor: pointer;
  margin-top: 13px;
}

/* like Functionality */
.stats {
  font-size: 25px;
}

i.icon.solid.fa-heart {
  cursor: pointer;
}

i.icon.solid.fa-heart.liked::before {
  color: #2ebaae !important;
}

i.icon.solid.fa-heart:hover::before {
  color: #2ebaae !important;
}

/* forms */
.form-container {
  width: 32em;
  margin-left: 31%;
}

.create-container {
  width: 45em;
  margin-left: 22%;
}

.user-form {
  background-color: white;
  padding: 35px;
  border-radius: 7px;
  border: 2px rgb(233, 231, 231) solid;
}

.user-form h2 {
  font-size: 30px;
}

.user-form label {
  font-size: 18px;
  margin-bottom: 10px;
}

.input-errors {
  margin-bottom: 28px;
}

.form-error {
  color: red;
  font-size: 14px;
}

.user-form button {
  margin-bottom: 30px;
}

.user-form textarea {
  height: 100px;
}

.form-redirect {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 15px;
}

/* flash messages */
.alert-danger {
  color: white;
  font-family: "Raleway", Helvetica, sans-serif;
  border-radius: 3px;
  margin: 2px 0px 20px 2px;
  padding: 10px 15px;
  background-color: #fd5c63;
}

.alert-success {
  color: white;
  font-family: "Raleway", Helvetica, sans-serif;
  border-radius: 3px;
  margin: 2px 0px 20px 2px;
  padding: 10px 15px;
  background-color: #2ebaae;
}

/* update delete */
.update-delete a.no-underline {
  text-decoration: none !important;
  margin-right: 5px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 30
}

.material-symbols-outlined.small {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 10
}

a.comment-a {
  text-decoration: none !important;
  margin-left: 13px;
}

/* Comments */
.user-comment {
  display: flex;
  justify-content: space-between;
  align-items: center;
}          

.profile-comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-comment h4 {
  margin: 0 0 0.2em 0;
}

.user-username {
  margin-left: 8px;
}

.up-del-comment {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* Comment Field */
.comment-field {
  display: flex;
  justify-content: flex-start;
  text-align: center;
}

.comment-field button {
  height: 81%;
}

.comment-field input {
  width: 73em;
}

.material-symbols-outlined.arrow {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Delete Form */
.delete-form {
  background-color: white;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 7px;
  border: 2px rgb(233, 231, 231) solid;
}

.delete-form p {
  font-family: "Raleway", Helvetica, sans-serif;
}

/* Update Form */
.update-container {
  width: 55em;
  margin-left: 16%;
}

.update-form {
  background-color: white;
  padding-top: 35px;
  padding-left: 35px;
  padding-right: 35px;
  border: 2px rgb(233, 231, 231) solid;
}

#update-input {
  margin-bottom: 18px;
}

/* Profile */
.intro header.profile-username h2{
  font-size: 20px;
}