@import url(fontawesome-all.min.css);
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900");

/* menu */
.avatar-mini {
  width: 14%;
  height: 14%;
  border-radius: 50%;
}

/* activity feed */
#activity-feed {
  margin-left: 3em;
  min-width: 15.08em;
  width: 15.08em;
}

.activity-content {
  font-size: 10px;
  margin-bottom: 15px;
  padding: 0px 2px;
  font-family: "Raleway", Helvetica, sans-serif;
}

/* user activities */
#user-activities {
  min-width: 40em;
  width: 40em;
}

/* Pagination */
#page-form {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 15px;
  margin-top: 13px;
  margin-left: 240px;
}

.page-input {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 15px;
  padding-left: 10px;
  width: 40px;
  background-color: transparent;
  border-radius: 10px;
  border: 1px rgb(206, 205, 205) solid;
}

/* Rating Stars */
.checked {
  color: orange;
}

.my-btn {
  padding: 0;
  background-color: inherit !important;
  border: 0 !important;
}

.food-stars {
  cursor: pointer;
}

.accommodation-stars {
  cursor: pointer;
}

/* like Functionality */
.stats {
  font-size: 25px;
}

i.icon.solid.fa-heart {
  cursor: pointer;
}

i.icon.solid.fa-heart.liked::before {
  color: #2ebaae !important;
}

i.icon.solid.fa-heart:hover::before {
  color: #2ebaae !important;
}

/* login form */
.login-form {
  width: 24em;
}